<div class="container-fluid no-margin">
    <div class="col-lg-3 col-md-3 no-margin menu">
        <h1 class="menu-heading">CENTER</h1>
        <ul class="menu-items">
            <li class="menu-active"><a href="#" class="menu-items-text">Århus</a></li>
            <li><a href="#" class="menu-items-text">Silkeborg</a></li>
            <li><a href="#" class="menu-items-text">Skive</a></li>
            <li><a href="#" class="menu-items-text">Svendborg</a></li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">CENTER</a></li>
                            <li><a href="#tab2" data-toggle="tab">TERMINAL</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1"><h1>CENTER</h1><br/>
                                <form>
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-lg-offset-4">
                                            <label for="txtUser">Brugernavn</label>
                                            <input type="txtUser" class="form-control" id="txtUser">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-lg-offset-4">
                                            <label for="pwd">Password:</label>
                                            <input type="password" class="form-control" id="pwd">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-lg-offset-6">
                                            <button type="submit" class="btn btn-success pull-right">Change password
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <h1>TERMINAL</h1><br/>
                                <form>
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-lg-offset-4">
                                            <label for="txtUser">Brugernavn</label>
                                            <input type="txtUser" class="form-control" id="txtUser">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-lg-offset-4">
                                            <label for="pwd">Password:</label>
                                            <input type="password" class="form-control" id="pwd">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-lg-offset-6">
                                            <button type="submit" class="btn btn-success pull-right">Change password
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="maskiner">
                        <h1 class="menu-heading">MASKINER</h1><br/>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 1</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 2</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 3</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 4</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 1</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 3</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 4</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 1</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 2</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 3</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 4</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 1</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 2</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 3</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="maskine">Maskine 4</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>