<div class="container-fluid machines">
    <div class="row center-text machine-row">
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>1</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>2</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-grey machine">
            <h1>3</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-yellow machine">
            <h1>4</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>5</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>6</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>7</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-yellow machine">
            <h1>8</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>9</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>10</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>11</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>12</h1>
        </a>
    </div>
    <div class="row center-text machine-row">
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>13</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-grey machine">
            <h1>14</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>15</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>16</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>17</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-green machine">
            <h1>18</h1>
        </a>
        <a class="col-lg-1 col-xs-4 bg-yellow machine">
            <h1>19</h1>
        </a>
        <a class="col-lg-1 col-xs-4 machine bg-green machine">
            <h1>20</h1>
        </a>
        <a class="col-lg-1 col-xs-4 machine bg-grey machine">
            <h1>21</h1>
        </a>
        <a class="col-lg-1 col-xs-4 machine bg-green machine">
            <h1>22</h1>
        </a>
        <a class="col-lg-1 col-xs-4 machine bg-green machine">
            <h1>23</h1>
        </a>
        <a class="col-lg-1 col-xs-4 machine bg-grey machine">
            <h1>24</h1>
        </a>
    </div>
</div>
<div class="container-fluid space-between errors">
    <div class="row">
        <div class="col-lg-8">
            <div class="row center-text">
                <a class="col-lg-3 bg-reddish error-type"><h1>STAK</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Crash</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Kegler i bord</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Kegle i kugleretur</h1></a>
            </div>
            <div class="row center-text">
                <a class="col-lg-3 bg-reddish error-type"><h1>Kegle vælter</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Sætter ikke kegler</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Tæller forkert</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Thermosikring i keglehjul</h1></a>
            </div>
            <div class="row center-text">
                <a class="col-lg-3 bg-reddish error-type"><h1>Thermosikring sweeper</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Termosikring bord</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Kugle under bagstop</h1></a>
                <a class="col-lg-3 bg-reddish error-type"><h1>Sensor afbrudt på banepar</h1></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row pins">
                <div class="col-lg-3 pin"><img class="float-center" src="/images/svgs/kegle10.svg"/></div>
                <div class="col-lg-3 pin"><img class="float-center" src="/images/svgs/kegle9.svg"/></div>
                <div class="col-lg-3 pin"><img class="float-center" src="/images/svgs/kegle8.svg"/></div>
                <div class="col-lg-3 pin"><img class="float-center" src="/images/svgs/kegle7.svg"/></div>
            </div>
            <div class="row">
                <div class="col-lg-4 pin"><img class="float-right" src="/images/svgs/kegle6.svg"/></div>
                <div class="col-lg-4 pin"><img class="float-center" src="/images/svgs/kegle5.svg"/></div>
                <div class="col-lg-4 pin"><img class="float-left" src="/images/svgs/kegle4.svg"/></div>
            </div>
            <div class="row">
                <div class="col-lg-6 pin"><img class="float-right" src="/images/svgs/kegle3.svg"/></div>
                <div class="col-lg-6 pin"><img class="float-left" src="/images/svgs/kegle2.svg"/></div>
            </div>
            <div class="row">
                <div class="col-lg-12 pin"><img class="float-center" src="/images/svgs/kegle1.svg" /></div>
            </div>
        </div>
    </div>
</div>