<div class="container-fluid ">
{{#grouped_each 4 error}}
        <div class="row">
            {{#each this }}
                <div class="col-lg-3">
                    <div class="errorReport">
                        <div class="indents">
                            <h2>MaskinNummer {{#each machine}}
                                {{machineNumber}}
                            {{/each}}</h2>
                            <h3>Dato: {{format timestamp}}</h3>
                            <h3>Fejltype: {{type}}</h3>
                            Pins: {{pins}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
{{/grouped_each}}
</div>