<div class="container">
    <h1>Dagsrapport </h1><span class="glyphicon glyphicon-print hidden-print glyphicon-bigger" onclick="window.print()"></span><br /><br />
    <div class="row hidden-print fromToBox" ><br />
        <div class="col-lg-4 col-md-4 col-xs-4">
            <p><strong>Fra dato</strong></p>
            <div class="input-group date fromDateBtn">
                <input type="text" class="form-control" id="fromDate">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <p><strong>Til dato:</strong></p>
            <div class="input-group date">
                <input type="text" class="form-control" id="toDate">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th toDateBtn"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <br /><br /><br /><br />
        </div>
    </div><br/>
    <div class="row row-noheight">
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2>Fejltype</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2>Tidspunkt</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2>Kegler</h2>
        </div>
    </div>
    <hr/>
    <div id="errorContainer">

    </div>
</div>

<script id="errorTemplate" type="text/x-handlebars-template"></script>
<div class="loading">Loading&#8230;</div>

