<div class="container">
    <h1>Dagsrapport</h1>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
            <div class="input-group input-daterange">
                <span class="input-group-addon">&nbsp;fra</span>
                <input type="text" class="form-control" id="fromDate">
                <div class="input-group-addon">
                    &nbsp;<span class="glyphicon glyphicon-th"></span>
                </div>
                <span class="input-group-addon">til</span>
                <input type="text" class="form-control" id="toDate">
                <div class="input-group-addon">
                    &nbsp;<span class="glyphicon glyphicon-th"></span>&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row row-noheight">
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2>Fejltype</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2>Tidspunkt</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2>Kegler</h2>
        </div>
    </div>
    <hr />
    <div id="errorContainer">

    </div>
</div>

<script id="errorTemplate" type="text/x-handlebars-template"></script>
<div class="loading">Loading&#8230;</div>

