
/**
  GENERAL LAYOUT CLASSES
 */
.center-text {
  text-align: center;
}

.bg-red {
  background-color: #cf000f;
}

.bg-yellow {
  background-color: #f7ca18;
}

.bg-green {
  background-color: #1e824c;
}

.bg-reddish {
  background-color: #8B251A;
}

.space-between {
  margin-top:1vh;
}

/**
CONCRETE CLASSES
 */

/** HEADER */

.machines {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  background-color: #22313f;
}

.machine {
  border: 0.5vw solid #22313f;
}

[class~=machine] {
  opacity:0.9;
  cursor: pointer;
}

[class~=machine]:hover {
  opacity:1;
}

.float-left {
  float:left;
}

.float-center {
  margin:auto;
}

.float-right {
  float:right;
}

/** ERROR TYPES */
.errors {
  background-color: #22313f;
}

.error-type {
  border: 0.5vw solid #22313f;
  min-height:180px;
  display:flex;
  align-items: center;
  justify-content: center;
}

/** PINS */

.pins {
  padding-top: 0.5vw;
}

.pin {

}

.pin img {
  width:120px;
  display:block;
}

/**
  TYPOGRAPHY
 */

.machines h1 {
  font-weight: bold;
  color: #ecf0f1;
  min-height: 5vh;
}

.error-type h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ecf0f1;
}
