
/**
  GENERAL LAYOUT CLASSES
 */

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}
.center-text {
  text-align: center;
}

.bg-grey {
  background-color: #95a5a6;
}

.bg-yellow {
  background-color: #f7ca18;
}

.bg-green {
  background-color: #1e824c;
}

.bg-reddish {
  background-color: #cf000f;
}

.space-between {
  margin-top:1vh;
}

/**
CONCRETE CLASSES
 */

/** HEADER */

.machines {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  background-color: #22313f;
}

.machine {
  border: 0.5vw solid #22313f;
  cursor: pointer;
}

.machine-selected {
  background-color: #1abc9c;
}



.machine:hover {
  text-decoration: none;
}

.float-left {
  float:left;
}

.float-center {
  margin:auto;
}

.float-right {
  float:right;
}

/** ERROR TYPES */
.errors {
  background-color: #22313f;
}

.error-type {
  border: 0.5vw solid #22313f;
  min-height:180px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.error-type:hover {
  text-decoration: none;
  cursor: pointer;
}

.error-type-selected {
  background-color: #1abc9c;
}

/** PINS */

.pins {
  padding-top: 0.5vw;
}

.pin {
  display: block;
  width: 6.5vw;
  height: 6.5vw;
  background-color:white;
  border-radius: 80px;
  border: 10px solid black;
  color: black;
  text-align:center;
  vertical-align:middle;
  line-height:5.5vw;
}

a.pin {
  font-size: 3em;
}

.pin:hover {
  color: black;
}

.pin-selected {
  border-color: #1abc9c;
  color: #1abc9c !important;
}

/**
  TYPOGRAPHY
 */

.machines h1 {
  font-weight: bold;
  color: #ecf0f1;
  min-height: 5vh;
}

.error-type h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ecf0f1;
}


/**
  BOOTSTRAP MODAL CSS START
 */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/**
  BOOTSTRAP MODAL CSS END
 */