body {
    font-size: 16px;
}

.container {
    background-color: white;
}

.row {
    min-height: 70px;
}

.indents {
    padding-top: 10px;
    margin: 30px;
}

.errorReport {
    display: block;
    height: 100%;
    background-color: white;
}

p.inline {
    display: inline;
}

.form-control {
    display: inline;
}